<% @artists.each do |artist| %>
  <div class="row">
    <div class="col-md-7">
      <h3> <%= link_to artist.name, artist %> </h3>
    </div>
    <div class="col-md-3 right">
      <%= link_to "Update", edit_artist_path(artist), class: "btn btn-default" %>
    </div>
  </div>
<% end %>

<%= link_to "New", new_artist_path, class: "btn btn-default" %>
