<nav class="navbar navbar-inverse navbar-fixed-top">
 <div class="container-fluid">
   <div class="navbar-header">
     <%= link_to "Codaisseurify", root_path, class: "navbar-brand" %>
   </div>
   <ul class="nav navbar-nav navbar-right">
     <li><%= link_to "New Artist", new_artist_path %></li>
   </ul>
 </div>
</nav>
