<%= form_for [@artist, @artist.songs.new] do |f| %>
  <div class="field">
    <%= f.text_field :name, placeholder: "new song" %>
    <% if !@song.nil? %>
      <% if @song.errors.any? %>
        <% @song.errors.full_messages.each do |message| %>
          <small class="error"><%= message %></small>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
